<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>Estika</title>
    <link rel="shortcut icon" href="../static/images/icon.png">
</head>

<body>
    <main class="main-login">
            <section class="left-login">
                <img src="../static/images/hero.png" class="left-login-image">
            </section>

            <section class="right-login">
                <img src="../static/images/logo.png" width="30%">
                <div class="card-login">
                        <h1>Seja bem-vindo(a)</h1>
                        <!-- <img src="../static/images/line.svg" width="30%" /> -->
                    <div class="text-field">
                        <label for="email">Email</label>
                        <input type="text" name="email" placeholder="Email">
                    </div>

                    <div class="text-field">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha">
                    </div>
                    <button class="btn-login" onclick="location.href='/home'">Entrar</button>
                    <div class="secao-cadastro">
                        <span>Primeiro acesso?</span>
                        <a href="/registro">Clique aqui</a>
                    </div>
                </div>
            </section>
    </main>
</body>

</html>